body {
  background: #f5f3f2 !important;
}

.ui.grid > .row > .column.top-nav {
  background: #000000;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

/*
.content {
  background: #fff !important;
}*/

.main {
  margin-top: 30px;
}

#notie-alert-outer, #notie-confirm-outer, #notie-force-outer, #notie-input-outer, #notie-select-outer, #notie-date-outer {
  width: 300px;
  left: 50%;
  right: 50%;
  margin-left: -150px;
  font-size: 0.92857143em;
}

#notie-alert-inner {
  padding: 10px;
}

.logo {
  color: #449966;

  > .subtext {
    color: #ccff77;
    font-size: 0.9em;
  }
}
/**
Hex	RGB
#449966	(68,153,102)
#ccff77	(204,255,119)
#444444	(68,68,68)
#bbbbbb
*/
.ct-widget.ct-ignition {
  width: 100px;
  left: 50%;
  right: 50%;
  top: 0;
  margin-left: -50px;

  .ct-ignition__button {
    border-radius: 0 0 6px 6px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
  }
}

.ui.dropdown.dropdown-button {
  position: absolute;
  text-align: right;
  top: 1rem;
  right: 1rem;
}

.text-component .ce-element {
  outline: 1px dashed #dddddd;
}

.ce-element--over {
  background-color: rgba(100, 100, 100, 0.04);
}

.ce-element--focused {
  background-color: rgba(243, 215, 18, 0.04);
}