@headerBackgroundColor: #556270;

body {
  background: #f5f3f2 !important;
}

#app {
  height: 100%;
}

.ui.grid > .row > .column.top-nav {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.ui.inverted.menu, .ui.grid > .row > .column.top-nav {
  background: @headerBackgroundColor;
}

.head.ui.inverted.menu .item {
  border-radius: 0;
  transition: background 200ms ease,
    border-radius 200ms ease,
    transform 250ms ease;

  &.active {
    background-color: #3B8686;
    transform: translate(0, 3px);
    box-shadow: 3px -3px 0px 3px rgba(73,153,153,1);

    border-radius: 30% 10%;

    &:hover {
      background-color: #79BD9A;
    }

    * {
      transition:  transform 350ms ease;
      transform: translate(0, -3px);
    }
  }
}

.ui.secondary.menu {
  .active.item {
    background: #EDEB89;
    font-weight: bold;
    color: #644400;

    &:hover {
      background: #EFECA7;
    }
  }

  a.item:hover {
    background: #EFECA7;
  }
}

.main {
  padding-top: 1rem;
}

#notie-alert-outer, #notie-confirm-outer, #notie-force-outer, #notie-input-outer, #notie-select-outer, #notie-date-outer {
  width: 300px;
  left: 50%;
  right: 50%;
  margin-left: -150px;
  font-size: 0.92857143em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#notie-alert-inner {
  padding: 10px;
}

.logo {
  color: #C7F464;

  > .subtext {
    color: #4ECDC4;
    font-size: 0.9em;
  }
}

.ct-widget.ct-ignition {
  width: 100px;
  left: 50%;
  right: 50%;
  top: 125px;
  margin-left: -50px;
  position: absolute;

  .ct-ignition__button {
    border-radius: 6px 6px 0 0;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
  }
}

.ui.dropdown.dropdown-button {
  position: absolute;
  text-align: right;
  top: 1rem;
  right: 1rem;
}

.text-component .ce-element {
  outline: 1px dashed #dddddd;
}

.ce-element--over {
  background-color: rgba(100, 100, 100, 0.04);
}

.ce-element--focused {
  background-color: rgba(243, 215, 18, 0.04);
}

.ui.secondary.menu .item {
  background: #E1E5B7;
}

.ui.secondary.menu {
  margin-left: 1rem;
}

section.body {
  padding-left: 1rem;
  padding-right: 1rem;

  > div .ui.breadcrumb {
    padding-bottom: 1rem;
    padding-left: 1rem;
  }
}

.ui.inline.loader.active.breadcrumb-loader {
  left: 0.5rem;
  top: -0.5rem;
}

.ui.breadcrumb .section:last-child {
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sixteen.wide.column > .ui.segment {
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-name: opacity;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

.login {
  position: relative;
  top: 50%;
	width: 250px;
  display: table;
  margin: -150px auto 0 auto;
  background: #fff;
  border-radius: 4px;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    .field {
      padding: 0 15px;
    }
  }

  .message {
    margin-left: 15px;
    margin-right: 15px;
  }

  .legend {
    position: relative;
    width: 100%;
    display: block;
    background: @headerBackgroundColor;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    margin-bottom: 15px;
  }

  .submit {
    width: 45px;
    height: 45px;
    display: block;
    margin: 0 auto -15px auto;
    background: #fff;
    border-radius: 100%;
    border: 1px solid @headerBackgroundColor;
    color: @headerBackgroundColor;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 7px #fff;
    transition: 0.2s ease-out;

    &:hover, &:focus {
      background: @headerBackgroundColor;
      color: #fff;
      outline: 0;
    }
  }

  .feedback {
    position: absolute;
    bottom: -40px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #2ecc71;
    padding: 10px 0;
    font-size: 12px;

    &:before {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(46, 204, 113, 0);
      border-bottom-color: #2ecc71;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}